<!--
{% if site.footer_fixed %}
© Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }} {%- if site.impressum_path -%} Impressum. {%- endif -%} {%- if site.last_updated -%} Last updated: {{ "now" | date: '%B %d, %Y' }}. {%- endif %}
{%- else -%}
© Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }} {%- if site.impressum_path -%} Impressum. {%- endif -%} {%- if site.last_updated -%} Last updated: {{ "now" | date: '%B %d, %Y' }}. {%- endif %}
{%- endif %}
-->